* {
  font-family: "Nunito", sans-serif;
}
body {
  background-color: #053540;
}
.recuadro {
  width: 250px;
  height: 250px;
}
.contenido {
  color: #f2f2f2;
  font-weight: 300;
  /* margin-top: 30vh; */
}
.logo {
  border: #053540 1px solid;
  top: 0;
  right: -2.5rem;
}
