* {
  font-family: "Open Sans", sans-serif;
}
.color1 {
  color: #445566;
}
body {
  background-color: #fafafa;
}
.text-mini {
  font-size: 0.5rem;
}
.recuadro {
  height: 230px;
  background-color: #445566;
  border-bottom-right-radius: 80px;
  /* box-shadow: 15px 18px 25px -4px rgba(0, 0, 0, 0.555); */
}
.recuadro > div {
  height: 200px;
  width: 200px;
  /* margin-right: 120px; */
}
.bandluxe {
  /* margin-top: -50px; */
}
.boton {
  bottom: 0;
  height: 50px;
}
.sombra {
  box-shadow: 0px 12px 19px -4px #00000096;
}
@media (min-width: 1024px) {
  .recuadro {
    height: 100vh;
    border-bottom-right-radius: 0;
  }
  .recuadro div {
    height: 350px;
    width: 350px;
    /* margin-right: 120px; */
  }
  .text-mini {
    font-size: 1.2rem;
  }
  .contenido > div {
    width: 400px;
  }
}
